// Import Platform Assets
@import '../template.less';

// Font Link
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@600&display=swap');

// Font
@font: 'Montserrat', sans-serif;
@font-headline: 'Oswald', sans-serif;

// Image Path
@path: './images/';

// Media Query Sizes
@desktop: ~"only screen and (max-width: @{screen-lg})"; // laptop size
@tablet: ~"only screen and (max-width: @{screen-md})"; // tablet size
@mobile: ~"only screen and (max-width: @{screen-sm})"; // larger phones
@mobile-xs: ~"only screen and (max-width: @{screen-xs})"; // smaller phones

// Colors
@themeColor1: #ED4041;
@themeColor2: #1A1A1A;
@themeColor3: #000000;

@white: #FFFFFF;

// Variables
@links: @themeColor1;
@hover: lighten(@links, 10%);

// Include this in any class you want to transition
.transition {
	-webkit-transition: .3s all;
	transition: .3s all;
}

body {
	font-family: @font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: @font;
	}
}

a {
	color: @links;
	.transition;
	&:hover {
		color: @hover;
		text-decoration: none;
	}
}

/* ==================================================================

					// CUSTOM BANNER STYLES

===================================================================== */

/*=== fonts & reusable styles ==*/
#main {
	h1, h2, h3, h4, h5, h6 {
		// font-family: ;
		// color: ;
	}
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.7em;
	}
	h3 {
		font-size: 1.5em;
	}
	h4, h5, h6 {
		font-size: 1.5em;
	}
}

/* ==================================================================

					// CUSTOM STYLES

===================================================================== */

// .example-class is only to demonstrate media queries nested in classes
.example-class {
	font-size: 18px;
	padding: 15px 0;
	color: #000;
	background: pink;

	@media @desktop {
		color: #fff;
		background: blue 
	}

	@media @tablet {
		background: steelblue;
	}

	@media @mobile {
		background: purple;
	}

	@media @mobile-xs {
		background: green;
	}
	
}

.headline-styles {
	font-family: @font-headline;
	font-weight: 600;
	color: @white;
	text-transform: uppercase;
}
.theme-headline {
	.headline-styles;
	font-size: 50px;
}
.theme-btn {
	.headline-styles;
	display: inline-block;
	font-size: 20px;
	background-color: @themeColor1;
	padding: 15px 30px;
	.transition;
	&:hover {
		background-color: @themeColor2;
		color: @white;
	}
}

.theme-text {
	font-family: @font;
	font-size: 20px;
	color: @white;
}
// Custom Styles
#theme-custom-banner {
	background: black;
	.overlay {
		content: '';
		position: absolute;
		background: fade(black, 70%);
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
	#banner {
		background: url('@{path}banner.jpg');
		position: relative;
		z-index: 0;
		&::before {
			z-index: -1;
		}
	}

	#banner2 {
		position: relative;
	}
	#banner, #banner2 {
		&::before {
			.overlay;
		}
	}
}
#theme-bottom-banner {
	
}


/* ==================================================================

					// MOBILE MEDIA QUERIES

===================================================================== */

//Screen Sizes (<1200px)
@media only screen and (max-width: @screen-lg) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {

	}
}

//Screen Sizes (<992px)
@media only screen and (max-width: @screen-md) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}

//Screen Sizes (<768px)
@media only screen and (max-width: @screen-sm) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}

//small devices like iPhone 5
@media only screen and (max-width: @screen-xs) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}
