// Import Platform Assets
@import '../template.less';

// Font Link
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// Font
@font: 'Karla', sans-serif;
// Image Path
@path: './images/';

// Media Query Sizes
@desktop: ~"only screen and (max-width: @{screen-lg})"; // laptop size
@tablet: ~"only screen and (max-width: @{screen-md})"; // tablet size
@mobile: ~"only screen and (max-width: @{screen-sm})"; // larger phones
@mobile-xs: ~"only screen and (max-width: @{screen-xs})"; // smaller phones

// Colors
@themeColor1: #BFCCDE;
@themeColor2: #D59361;
@themeColor3: #245367;

@white: #FFFFFF;

// Variables
@links: @themeColor1;
@hover: lighten(@links, 10%);

// Include this in any class you want to transition
.transition {
	-webkit-transition: .3s all;
	transition: .3s all;
}

body {
	font-family: @font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: @font;
	}
}

a {
	color: @links;
	.transition;
	&:hover {
		color: @hover;
		text-decoration: none;
	}
}

/* ==================================================================

					// CUSTOM BANNER STYLES

===================================================================== */

/*=== fonts & reusable styles ==*/
#main {
	h1, h2, h3, h4, h5, h6 {
		font-family: @font;
		color: @themeColor3;
	}
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.7em;
	}
	h3 {
		font-size: 1.5em;
	}
	h4, h5, h6 {
		font-size: 1.5em;
	}
}

/* ==================================================================

					// CUSTOM STYLES

===================================================================== */

// .example-class is only to demonstrate media queries nested in classes
.example-class {
	font-size: 18px;
	padding: 15px 0;
	color: #000;
	background: pink;

	@media @desktop {
		color: #fff;
		background: blue 
	}

	@media @tablet {
		background: steelblue;
	}

	@media @mobile {
		background: purple;
	}

	@media @mobile-xs {
		background: green;
	}
	
}

.theme-headline {
	font-family: @font;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: @themeColor3;
}

.theme-tect {
	font-size: 15px;
	color: @themeColor3;
}

.theme-btn {
	display: inline-block;
	border: 2px solid @themeColor3;
	color: @themeColor3;
	font-size: 30px;
	font-weight: 700;
	padding: 20px 25px;
	text-align: center;
	&:hover {
		background: @themeColor3;
		color: @white; 
	}
}




// Custom Styles
#theme-custom-banner {
	#banner {
		background: url('@{path}banner1.jpg') center / cover no-repeat;

		.banner-img {
			display: none;
		}
		.banner-wrap {
			max-width: 450px;
			padding: 145px 0;
		}
		@media @tablet {
			background: none;
			text-align: center;
			.banner-img {
				display: block;
			}
			.banner-wrap {
				padding: 85px 0;
				margin: 0 auto;
			}
		  }
		
		.theme-headline {
			margin-bottom: 30px;
			padding: 15px 40px;
			background-color: @themeColor1;
		}
	}

	#about-services {
		background: @themeColor3;
		padding-top: 75px;
		padding-bottom: 65px;
		text-align: center;

		.about-wrap {
			display: flex;
		}

		.about-item {
			position: relative;
			flex-basis: 50%;
			padding-bottom: 116px; 
		}

		.about-headline {
			color: @white;
			font-size: 30px;
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 25px;
			&::after {
				content: '';
				display: block;
				background-color: @themeColor1;
				width: 178px;
				height: 2px;
				margin: 25px auto;
			}
		}

		.theme-text {
			color: @white;
			text-align: left;
		}

		.ftd-services ul {
			list-style: none;
			font-size: 20px;
			font-weight: 700;
			padding: 0;
			margin: 0;
		}

		.theme-btn {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			border: 2px solid @themeColor1;
			color: @themeColor1;
				&:hover {
					background: @themeColor1;
					color: @themeColor3; 
			}
		}
	}

	#values {
		margin: 150px 135px;
		
		.grid-img {
			height: 251px;
			width: 526px;
			float: right;
		}

		.theme-headline {
			background: 1px @themeColor1;
		}
	}

	#callouts {
		text-align: center;

		.call-text {
			color: @themeColor3;
			background-color: @themeColor1;
			font-weight: 700;
			padding: 15px;
		}
	}

	#services {

	}
}

/* ==================================================================

					// MOBILE MEDIA QUERIES

===================================================================== */

//Screen Sizes (<1200px)
@media only screen and (max-width: @screen-lg) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {

	}
}

//Screen Sizes (<992px)
@media only screen and (max-width: @screen-md) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}

//Screen Sizes (<768px)
@media only screen and (max-width: @screen-sm) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}

//small devices like iPhone 5
@media only screen and (max-width: @screen-xs) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}