// Import Platform Assets
@import '../template.less';

// Font Link
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// Font
@font: 'Karla', sans-serif;
// Image Path
@path: './images/';

// Media Query Sizes
@desktop: ~"only screen and (max-width: @{screen-lg})"; // laptop size
@tablet: ~"only screen and (max-width: @{screen-md})"; // tablet size
@mobile: ~"only screen and (max-width: @{screen-sm})"; // larger phones
@mobile-xs: ~"only screen and (max-width: @{screen-xs})"; // smaller phones

// Colors
@themeColor1: #BFCCDE;
@themeColor2: #D59361;
@themeColor3: #245367;

@white: #FFFFFF;

// Variables
@links: @themeColor1;
@hover: lighten(@links, 10%);

// Include this in any class you want to transition
.transition {
	-webkit-transition: .3s all;
	transition: .3s all;
}

body {
	font-family: @font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: @font;
	}
}

a {
	color: @links;
	font-size: 30px;
	.transition;
	&:hover {
		color: @hover;
		text-decoration: none;
	}
}

/* ==================================================================

					// CUSTOM BANNER STYLES

===================================================================== */

/*=== fonts & reusable styles ==*/
#main {
	h1, h2, h3, h4, h5, h6 {
		font-family: @font;
		color: @themeColor3;
	}
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.7em;
	}
	h3 {
		font-size: 1.5em;
	}
	h4, h5, h6 {
		font-size: 1.5em;
	}
}

/* ==================================================================

					// CUSTOM STYLES

===================================================================== */

// .example-class is only to demonstrate media queries nested in classes
.example-class {
	font-size: 18px;
	padding: 15px 0;
	color: #000;
	background: pink;

	@media @desktop {
		color: #fff;
		background: blue 
	}

	@media @tablet {
		background: steelblue;
	}

	@media @mobile {
		background: purple;
	}

	@media @mobile-xs {
		background: green;
	}
	
}

.theme-headline {
	font-family: @font;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: @themeColor3;
}

.theme-btn {
	border: 2px solid @themeColor3;
	color: @themeColor3;
	font-size: 30px;
	font-weight: 700;
	padding: 25px;
	width: 231px;
}

// Custom Styles
#theme-custom-banner {
	#banner {
		// I am soley focusing on desktop first before moving into the bootstrap classes and such for tablet through mobile.

		//I am stuck on getting the image to be full size. I know we've talked about that and I did those things. When I added the bootstrap col option it helped but it is still being cut off. I've also done but margin and padding but margin just makes it worse.
		background: url('@{path}banner1.jpg') center / cover no-repeat;
		padding-top: 130px;
		padding-bottom: 140px;
		text-align: center;

		@media @tablet {
			background: none;
		  }

		  //My struggle with this is I cannot get the text to be lined up correctly in the image. I'm also unable to add the line break. Is there a bootstrap col class I should be looking at? When I have tried it, it messes with the background image. Also the padding and margins do not seem to make much of a difference. 
		.theme-headline {
			margin: 0 auto 55px;
			max-width: 700px;
			padding: 15px 45px;
			background-color: @themeColor1;
		}
	}

	//I am stuck on getting the vertical line down the center, I know it is built the same way using the &::before or &::after, but not sure which element to place it on. I know it will also only be used for desktop mode since the layout changes with tablet and below. 
	
	//I think somewhere in here I should be incorparting the id about title and about text. That will help with some of these problem I am having. I will be working on this more when I get home tonight after the meeting and this week.  
	#about-services {
		background: @themeColor3;
		padding-top: 75px;
		padding-bottom: 65px;
		text-align: center;

		.theme-headline {
			color: @white;
			font-size: 30px;
			padding: 30px;
		}

		.theme-text {
			white-space: pre;
			text-align: left;
		}

		.theme-text,
		.ftd-services {
			color: @white;
			font-size: 15px;

			&::before {
				content: '';
				display: inline-block;
				background-color: @themeColor1;
				width: 178px;
				height: 2px;
				right: 0;
				bottom: 0;
				align-items: center;
			}
		}

		.ftd-services ul {
			list-style: none;
			font-size: 20px;
			font-weight: 700;
		}

		.theme-btn {
			border: 2px solid @themeColor1;
			color: @themeColor1;
		}
	}

	#values {
		margin: 150px 135px;
		
		.grid-img {
			height: 251px;
			width: 526px;
			float: right;
		}

		.theme-headline {
			background: 1px @themeColor1;
		}

		.values-text {
			white-space: pre;
		}
	}

	#callouts {
		text-align: center;

		.call-text {
			color: @themeColor3;
			background-color: @themeColor1;
			font-weight: 700;
			padding: 15px;
		}
	}

	#services {

		.spc-services-text {
			white-space: pre;
		}
	}
}

/* ==================================================================

					// MOBILE MEDIA QUERIES

===================================================================== */

//Screen Sizes (<1200px)
@media only screen and (max-width: @screen-lg) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {

	}
}

//Screen Sizes (<992px)
@media only screen and (max-width: @screen-md) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}

//Screen Sizes (<768px)
@media only screen and (max-width: @screen-sm) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}

//small devices like iPhone 5
@media only screen and (max-width: @screen-xs) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}