// Import Platform Assets
@import '../template.less';

// Font Link
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// Font
@font: 'Karla', sans-serif;
// Image Path
@path: './images/';

// Media Query Sizes
@desktop: ~"only screen and (max-width: @{screen-lg})"; // laptop size
@tablet: ~"only screen and (max-width: @{screen-md})"; // tablet size
@mobile: ~"only screen and (max-width: @{screen-sm})"; // larger phones
@mobile-xs: ~"only screen and (max-width: @{screen-xs})"; // smaller phones

// Colors
@themeColor1: #BFCCDE;
@themeColor2: #D59361;
@themeColor3: #245367;

@white: #FFFFFF;

// Variables
@links: @themeColor1;
@hover: lighten(@links, 10%);

// Include this in any class you want to transition
.transition {
	-webkit-transition: .3s all;
	transition: .3s all;
}

body {
	font-family: @font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: @font;
	}
}

a {
	color: @links;
	.transition;
	&:hover {
		color: @hover;
		text-decoration: none;
	}
}

/* ==================================================================

					// CUSTOM BANNER STYLES

===================================================================== */

/*=== fonts & reusable styles ==*/
#main {
	h1, h2, h3, h4, h5, h6 {
		font-family: @font;
		color: @themeColor3;
	}
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.7em;
	}
	h3 {
		font-size: 1.5em;
	}
	h4, h5, h6 {
		font-size: 1.5em;
	}
}

/* ==================================================================

					// CUSTOM STYLES

===================================================================== */

// .example-class is only to demonstrate media queries nested in classes
.example-class {
	font-size: 18px;
	padding: 15px 0;
	color: #000;
	background: pink;

	@media @desktop {
		color: #fff;
		background: blue 
	}

	@media @tablet {
		background: steelblue;
	}

	@media @mobile {
		background: purple;
	}

	@media @mobile-xs {
		background: green;
	}
	
}

.theme-headline {
	display: inline-block;
	font-family: @font;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: @themeColor3;
	padding: 15px 40px;
	background-color: @themeColor1;
}

.theme-text {
	font-size: 15px;
	color: @themeColor3;
}

.theme-btn {
	display: inline-block;
	border: 2px solid @themeColor3;
	color: @themeColor3;
	font-size: 30px;
	font-weight: 700;
	padding: 20px 25px;
	text-align: center;
	&:hover {
		background: @themeColor3;
		color: @white; 
	}
}




// Custom Styles
#theme-custom-banner {
	#banner {
		background: url('@{path}banner1.jpg') center / cover no-repeat;

		.banner-img {
			display: none;
		}
		.banner-wrap {
			max-width: 450px;
			padding: 145px 0;
		}
		@media @tablet {
			background: none;
			text-align: center;
			.banner-img {
				display: block;
			}
			.banner-wrap {
				padding: 85px 0;
				margin: 0 auto;
			}
		  }
		
		.theme-headline {
			margin-bottom: 30px;
		}
	}

	#about-services {
		background: @themeColor3;
		padding-top: 75px;
		padding-bottom: 65px;
		text-align: center;

		.about-wrap {
			display: flex; 

			@media @mobile {
				flex-direction: column; //set the direction of the children (.about-item) to be column. flex-wrap: wrap also works
			}
		}

		.about-item {
			// child properties for .about-item as it relates to .about-wrap
			display: flex;
			flex-basis: 50%; // keeps the direct children of .about-parent at 50% each
			// parent properties for the contents of .about-item
			flex-direction: column; // aligns the items vertically
			flex-wrap: wrap; // prevents items from taking up full width of .about-item

			@media @mobile {
				flex-basis: 100%; // set the width to be 100% of .about-wrap's width now that it's a column layout
			}
		}

		.about-headline {
			color: @white;
			font-size: 30px;
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 25px;
			&::after {
				content: '';
				display: block;
				background-color: @themeColor1;
				width: 178px;
				height: 2px;
				margin: 25px auto;
			}
		}

		.theme-text {
			color: @white;
			text-align: left;
		}

		.ftd-services ul {
			list-style: none;
			font-size: 20px;
			font-weight: 700;
			padding: 0;
			margin: 0;
		}

		.theme-text,
		.ftd-services {
			margin-bottom: 30px; // to allow a gap since the margin-top is used on the button already
		}

		.theme-btn {
			align-self: center; // centers the button left and right in the column flow
			margin-top: auto; // fixes the button to the bottom
			border: 2px solid @themeColor1;
			color: @themeColor1;
			@media @mobile {
				margin-bottom: 30px;
			}
				&:hover {
					background: @themeColor1;
					color: @themeColor3; 
			}
		}
	}

	#values {
		background: url('@{path}repeat-grid-5.svg') right -150px top -85px / auto no-repeat;
		padding: 130px 0;

		.values-img {
			display: flex;
			position: relative;
			z-index: 0;
			padding-right: 90px;
			@media @mobile {
				padding-right: 0;
			}
				&::before {
					content: '';
					display: block;
					position: absolute;
					z-index: -1;
					height: 257px;
					width: 192px;
					left: 14px;
					top: 20px;
					background: @themeColor2;
					border: solid 1px @themeColor2;
				}
			}
		

		.values-wrap {
			display: flex;
			flex-direction: columns;
			justify-content: space-evenly;
			flex-wrap: wrap;
			@media @mobile {
				flex-basis: 100%;
			}
			.values {
				padding-top: 40px;
				flex-basis: 50%;
				.theme-headline {
					margin-bottom: 40px;
					@media @mobile {
						margin-top: 25px;
						font-size: 30px;
					}
				}
			}

			.theme-btn {
				margin-top: 30px;
				@media @mobile {
					padding: 15px 20px;
				}
			}
		}	
	}

	#callouts {
		display: flex;
		text-align: center;

		.call-1 {
			background: url('@{path}call1.jpg') left / contain no-repeat;
		}

		.call-2 {
			background: url('@{path}call2.jpg') center / contain no-repeat;
		}

		.call-3 {
			background: url('@{path}call3.jpg') right / contain no-repeat;
		}

		.theme-headline {
			text-transform: none;
			color: @themeColor3;
			background-color: @themeColor1;
			font-weight: 700;
			padding: 15px;
		}
	}

	#contact {
		background-color: @themeColor2;
		height: 250px;

		.contact-wrap {
			display: flex;
			padding: 80px;
			align-items: center;
			@media @desktop {
				padding: 60px 75px;
			}
			@media @mobile {
				padding: 60px 70px;
			}

			.contact-headline {
				color: @white;
				font-size: 40px;
				font-weight: 700;
				text-transform: uppercase;
				padding-right: 120px;
				@media @desktop {
					padding-right: 60px;
				}
				@media @mobile {
					padding-right: 0;
				}

				.theme-btn {
					text-transform: none;
				}
			}
		}
	}
}

/* ==================================================================

					// MOBILE MEDIA QUERIES

===================================================================== */

//Screen Sizes (<1200px)
@media only screen and (max-width: @screen-lg) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {

	}
}

//Screen Sizes (<992px)
@media only screen and (max-width: @screen-md) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}

//Screen Sizes (<768px)
@media only screen and (max-width: @screen-sm) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}

//small devices like iPhone 5
@media only screen and (max-width: @screen-xs) {
	#theme-custom-banner {

	}
	#theme-bottom-banner {
		
	}
}